{% extends "base.html" %}

{% block content %}
{% include "top_banner.html" %}

<div class='container'>
	<div class='row my-3'>
		<!-- <div class='col-sm-3'>
			<div class="sidenav">
			  <h3 class='pl-6'>Table of Contents</h3>
			  <button class="dropdown-btn">Government Incentives
			    <i class="fa fa-caret-down"></i>
			  </button>
			  <div class="dropdown-container">
			    <a href="#">Home Buyers Plan</a>
			    <a href="#">First Time Home Buyers Plan</a>
			    <a href="#">Ontario Land Transfer Tax Credit</a>
			  </div>
			  <button class="dropdown-btn">Mortgages
			    <i class="fa fa-caret-down"></i>
			  </button>
			  <div class="dropdown-container">
			    <a href="#">What is a Mortgage Term?</a>
			    <a href="#">What is Amortization</a>
			    <a href="#">Fixed vs. Variable Rates</a>
			    <a href="#">Open vs. Closed Mortgages</a>
			    <a href="#">What is a Prepayment Charge?</a>
			    <a href="#">How Do I Qualify?</a>
			    <a href="#">How Large Should My Mortgage Be?</a>
			    <a href="#">Should I Get Pre-approved?</a>
			    <a href="#">Bank vs. Brokers +</a>
			  </div>
			  <button class="dropdown-btn">Down Payments
			    <i class="fa fa-caret-down"></i>
			  </button>
			  <div class="dropdown-container">
			    <a href="#">What Is a Down Payment</a>
			    <a href="#">How Much Should You Put Towards Your Down Payment?</a>
			    <a href="#">Link 3</a>
			    <a href="#">Link 3</a>
			  </div>
			  <button class="dropdown-btn">Home Insurance
			    <i class="fa fa-caret-down"></i>
			  </button>
			  <div class="dropdown-container">
			    <a href="#">Link 1</a>
			    <a href="#">Link 2</a>
			    <a href="#">Link 3</a>
			  </div>
			  <button class="dropdown-btn">House Hunting
			    <i class="fa fa-caret-down"></i>
			  </button>
			  <div class="dropdown-container">
			    <a href="#">Link 1</a>
			    <a href="#">Link 2</a>
			    <a href="#">Link 3</a>
			  </div>
			  <button class="dropdown-btn">Extra Costs
			    <i class="fa fa-caret-down"></i>
			  </button>
			  <div class="dropdown-container">
			    <a href="#">Link 1</a>
			    <a href="#">Link 2</a>
			    <a href="#">Link 3</a>
			  </div>
			</div>

			<script>
			/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
			var dropdown = document.getElementsByClassName("dropdown-btn");
			var i;

			for (i = 0; i < dropdown.length; i++) {
			  dropdown[i].addEventListener("click", function() {
			  this.classList.toggle("active");
			  var dropdownContent = this.nextElementSibling;
			  if (dropdownContent.style.display === "block") {
			  dropdownContent.style.display = "none";
			  } else {
			  dropdownContent.style.display = "block";
			  }
			  });
			}
			</script>
		</div> -->
		<div class='col-12'>
			<h3>Government Incentives - For First Time Home Buyers</h3>
			<br>
			<b>‘Home Buyers’ Plan’ – $35,000 Tax Free RRSP Withdrawal</b>
			<p>The ‘Home Buyers’ Plan’ allows first time home buyers to withdrawal up to $35,000 per buyer for use as a down payment without being charged income tax on the withdrawal. The money could also be used for things like moving expenses, closing costs, paying off debt or furniture. </p>
			<br>
			<b>2019 Proposed ‘First Time Home Buyer Incentive’</b>
			<p>The Incentive – As first time home buyers you would be able to finance a portion of your home purchase through a shared equity mortgage with CMHC. Meaning CMHC would purchase and take ownership of 5% of the home if it is a resale home or 10% if it is a new build. Therefore reducing the size of the mortgage you would require by that 5% or 10%. This would obviously reduce your monthly mortgage payment which is the goal of the program. The incentive amount would be repaid upon resale of the home using proceeds of the sale.</p>
			<hr>
			<b>Example: Alice and Bob buy a newly built house for $500,000.</b>
			<div class='row'>
				<div class='col col-md-6'>
					<br>
					<b>Example A (with incentive)</b>
					<table>
					  <tr>
					    <th>$500,000</th>
					    <th>Home Price</th>
					  </tr>
					  <tr>
					    <td>($25,000)</td>
					    <td>Alice and Bob’s down payment</td>
					  </tr>
					  <tr>
					    <td>($50,000)</td>
					    <td>CMHC Incentive amount</td>
					  </tr>
					  <tr>
					    <td>$425,000</td>
					    <td>Insured mortgage amount</td>
					  </tr>
					  <tr>
					    <td>$1,500</td>
					    <td>Monthly mortgage payment</td>
					  </tr>
					</table>
				</div>
				<div class='col col-md-6'>
					<br>
					<b>Example B (without incentive)</b>
					<table>
					  <tr>
					    <th>$500,000</th>
					    <th>Home price</th>
					  </tr>
					  <tr>
					    <td>($25,000)</td>
					    <td>Alice and Bob’s down payment</td>
					  </tr>
					  <tr>
					    <td>$0</td>
					    <td>CMHC Incentive amount</td>
					  </tr>
					  <tr>
					    <td>$475,000</td>
					    <td>Insured mortgage amount</td>
					  </tr>
					  <tr>
					    <td>$1,750</td>
					    <td>Monthly mortgage payment</td>
					  </tr>
					</table>
				</div>
			</div>
			<hr>

			<p>Eligibility – To be eligible for this program participants must have the 5% minimum down payment amount. Household income must be lower than $120,000 and the insured mortgage amount plus the incentive amount cannot exceed 4x household income.</p>

			<p>Learn more about the 'First Time Home Buyer Incentive' here:<a href='http://www.placetocallhome.ca' target='_blank'> www.placetocallhome.ca</a></p>
			<br>
			<b>Ontario Land Transfer Tax Credit</b>
			<p>As of January 1st, 2017 first time home buyers are not required to pay land transfer tax on the first $368,000 of their home purchase. First time purchasers of homes greater than $368,000 are eligible to receive a maximum $4000 refund.</p>
			<p>Learn more about government incentives at one of our first time home buyer seminar in Ottawa.</p>
			<br>
			<h4> Mortgages </h4>
			<b>What is a mortgage term?</b>
			<br>
			<p>The term is the length of time the mortgage details are valid. Those details include term length, the rate, open vs closed, amortization length, payment amount and various other details. Terms can range from 6 months to 10 years with most people favouring a five year term. When the term ends new details are established and payments continue.</p>
			<br>
			<b>What is amortization?</b>
			<p>Amortization is the amount of time you will take to pay off the balance of the principal and interest of the mortgage. Amortization periods range in length up to 25 years (30 years for uninsured mortgages). The longer the amortization period, the more interest you will pay.</p>
			<br>
			<b>Fixed versus variable rates?</b>
			<p>Variable and Fixed rates both have a fixed term. Fixed rates don’t change throughout the mortgage term and variable rates do. Fixed rates can be renegotiated before the term is up but a penalty would have to be paid. Variable rates can change throughout the term based on market conditions.</p>
			<br>
			<b>Open versus closed mortgages</b>
			<p>Open mortgages can be repaid or renegotiated at any time without a penalty but have higher interest rates. Closed mortgages have lower rates but cannot be repaid or renegotiated until the term is up or a penalty is paid.</p>
			<br>
			<b>What is a prepayment charge?</b>
			<p>A prepayment charge is a fee a lender charges a borrower for paying off a loan sooner or at a faster rate (larger monthly payments) than agreed upon. Lenders do this to maintain profitability since they will not be collecting the amount of interest initially anticipated.</p>
			<br>
			<b>How do I qualify?</b>
			<p>To qualify for a mortgage, speak to a lender, such as a bank or through a mortgage broker. The lender will examine your income before taxes, living expenses, debts, your credit score and credit report. Once they have finished the process they will tell you the amount they are willing to lend, the rate and other details and options.</p>
			<br>
			<b>How large should my mortgage be?</b>
			<p>Besides your own willingness / ability to pay monthly and what the lender will agree to loan you, there are a few things to consider.</p>
			<br>
			<p>CMHC mortgage loan insurance: You will have to pay mortgage loan insurance if you want to purchase a house with less than a 20% down payment. So to avoid that extra cost get a mortgage for 80% or less of the homes value. Calculate mortgage insurance costs here: (https://www.cmhc-schl.gc.ca/en/finance-and-investing/mortgage-loan-insurance/mortgage-loan-insurance-homeownership-programs/cmhc-mortgage-loan-insurance-cost)</p>
			<br>
			<p>Improvements – If you can qualify for a large enough mortgage and want to make some improvements or repairs to your new home you may be able to borrow the money to cover the home purchase plus improvement costs.</p>
			<br>

			<b>Should I get pre-approved?</b>
			<p>Pre-approval can be helpful. You’ll know exactly how much you can spend on a home, which can make searching easier. Being pre-approved will make your offers more attractive because you won’t need to include a financing condition, which can be especially important in a multiple offer situation.</p>
			<br>
			<b>Banks versus brokers (and others)</b>
			<p>The most popular ways to acquire a mortgage are through a bank or mortgage broker. Credit unions and mortgage investment corporations are other options.Banks will only offer their own mortgage products while brokers can offer a wide range of mortgages from different sources including the big banks. The best rates are usually found through mortgage brokers since they have access to a variety of lenders with different risk profiles.
			Although folks with excellent credit history and a long relationship with a big bank can get very good rates as well.  
			Credit unions are nonprofit organizations and favor applicants who provide a large down payment.
			With banks being more tightly regulated, as far as who they can lend to, mortgage investment corporations, who are completely unregulated, have become popular with people who have been turned down by traditional lenders. These loans are not Insured by CMHC and come with high interest rates, such as 10% or more.</p>
			<p>Learn more about mortgages at a first time home buyer seminar in Ottawa.</p>
			<br>
			<h4>Down Payments</h4>
			<b>What is a down payment</b>
			<p>Legally a mortgage cannot be used to cover the entire cost of a house. A buyer must provide a large chunk of money upfront on top of the mortgage funds in order to make the purchase. While down payments cannot be financed by mortgages they can come from other loans.</p>
			<br>
			<b>How much should you put towards your down payment?</b>
			<p>This is entirely up to the individual except for minimum amounts stipulated by the government of Canada. The percentage amount depends on the price of the house. Here is the breakdown as outlined by the Canadian government.</p>
			<p>Home down payment minimum amounts:</p>
			<p>For a home that costs $500,000 or less – 5% of the purchase price</p>
			<p>For a home that costs $500,000 to $999,999 – 5% for the first $500,000 and 10% for the portion of the purchase price above $500,000</p>
			<p>For a home that costs $1 million or more – %20 of the purchase price</p>
			<br>
			<b>What is the 20% rule?</b>
			<p>By law If your mortgage will be covering more than 80% of your homes purchase price that mortgage must be insured by the CMHC (Canadian Mortgage and Housing Corporation). Therefore if your down payment is less than 20% you will pay insurance premiums for the duration of the mortgage period.</p>
			<p>The premiums you’ll be charged are based on the size of your down payment. You can calculate those insurance premiums using the CMHC mortgage insurance calculator.</p>
			<p>Learn more about down payments at one of our first time home buyer seminars in Ottawa.</p>
			<br>
			<h4>Home Insurance</h4>
			<b>What it covers</b>
			<p>A basic home insurance policy will protect your belongings, the physical structure of the house, theft, damage, and personal liability of the policy owner and their family.</p>
			<br>
			<b>What it doesn’t cover</b>
			<p>A basic policy will not cover flood damage, earthquakes, theft of high value items like jewelry or art, regular maintenance and hazards that could have been planned for. Besides regular maintenance there are special policies available to cover the other things that a basic policy doesn’t cover.</p>
			<br>
			<b>What if I rent out my property?</b>
			<p>Basic homeowners insurance will not cover you in this case, you would need income property insurance.</p>
			<br>
			<b>What about the renter?</b>
			<p>Renters insurance will cover your tenants belongings.</p>
			<p>Learn more about home insurance at one of our first time home buyer seminars in Ottawa.</p>
			<br>
			<h4>House Hunting</h4>
			<p></p>
			<p>Learn more about house hunting at one of our <a href="https://www.mcveighreatly.com">first time home buyer seminars</a> in Ottawa. Also <a href="https://www.mcveighreatly.com">Search MLS Listings</a> here on our website.</p>
			<br>
			<h4>Extra Costs</h4>
			<b>Rising Interest Rates</b>
			<p>Home buyers should be aware of the possibility and financially capable of weathering an increase in interest rates. Whether it be throughout the term of a variable rate mortgage or at the renewal of a fixed rate.</p>
			<br>
			<b>Land transfer taxes</b>
			<p>Land transfer tax is charged whenever property changes hands and is payable by the buyer. The amount is calculated based on the purchase price of the property. The formula for Ontario land transfer tax is below:</p>
			<p>Note that the City of Toronto charges a municipal land transfer tax but is the only Canadian city doing do.</p>
			<p>amounts up to and including $55,000: 0.5%</p>
			<p>amounts exceeding $55,000, up to and including $250,000: 1.0%</p>
			<p>amounts exceeding $250,000, up to and including $400,000: 1.5%</p>
			<p>amounts exceeding $400,000: 2.0%</p>
			<p>amounts exceeding $2,000,000, where the land contains one or two single family residences: 2.5%</p>
			<br>
			<b>Appraisal Fees</b>
			<p>To qualify for a mortgage an appraisal must be done on the subject property. Often arranged by the mortgage broker but paid by the buyer at about $300 – $500.</p>
			<br>
			<b>Title Insurance</b>
			<p>Title insurance protects your legal right to title from things like fraud, identity theft and forgery. it usually costs around $300. It is not mandatory and best to seek the advice of a lawyer to determine whether it is necessary for yourself or not.</p>
			<br>
			<b>Property tax</b>
			<p>You may owe the previous owner money for property taxes they prepaid. These amounts will be determined by your real estate lawyer and charged to you as adjustments on your closing costs before your closing date.</p>
			<br>
			<b>Utility set up fees and adjustments</b>
			<p>You could be charged for utilities that the previous owner used so make sure to contact the utility providers and tell them the date you took ownership so that they can make the correct adjustments. Also be prepared to pay setup fees for utility accounts or services.</p>
			<p>Learn more about extra moving costs at one of our first time home buyer seminars in Ottawa.</p>
			<br>
		</div>
	</div>
</div>

{% endblock %}
