<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center footer">
			<div class="col-md-4">
				<a href='/'>
				{% load static %}
				<img src="{% static 'image/logos/k&jmcveigh_footer_logo.png' %}">
				</a>
				<hr class='footer-hr'>
				<a href='tel:613-859-7494'>613-859-7494</a>
				<p>kathy@themcveighs.com</p>
				<p>201-1500 Bank Street</p>
				<p>Ottawa, ON, K1H 7Z2</p>
			</div>
			<div class="col-md-4">
				<hr class="footer-hr">
				<h5 style='color:white;'>Search MLS Listings</h5>
				<hr class="footer-hr">
				<p>Findlay Creek Houses For Sale</p>
				<p>Alta Vista Houses For Sale</p>
				<p>Old Ottawa South Houses For Sale</p>
				<p>Glebe Houses For Sale</p>
			</div>
			<div class="col-md-4">
				<hr class="footer-hr">
				<h5 style='color:white;'>Social Media</h5>
				<hr class="footer-hr">
				<a href='https://www.facebook.com/McVeighTeam' target='_blank'>Facebook</a><br>
				<a href='https://www.instagram.com/mcveigh_team/?hl=en' target='_blank'>Instagram</a><br>
				<a href='https://www.youtube.com/channel/UCV6xuYh7-zfkNdK1oBExy7w' target='_blank'>YouTube</a>
			</div>
			<div class="col-12">
				<hr class="footer-hr">
				<h5>&copy; McVeigh Realty</h5>
			</div>
		</div>
	</div>	
</footer>