{% extends "base.html" %}

{% block content %}
{% include "top_banner.html" %}
{% load static %}

<div class='container'>
	<div class='row m-3'>
		<div class='col'>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_13.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Gerry K.</h5>
					    	<p>"The McVeigh Team did a fantastic job managing the sale of our home! Their knowledge of the market and experience in all aspects of real estate were truly evident. Bottom line - the process was efficient and the results were beyond expectations!"</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_12.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Emma O.</h5>
					    	<p>"We recently sold and bought with the McVeigh's and had an amazing experience. We are a family with young children and I could not imagine going through this process without them. they walked us through every step and were available any time we needed them. They made us feel like a priority at all times. The McVeigh's were able to connect us with all the contacts we needed and took care of everything. I would highly recommend this incredible team!"</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_11.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Sheryl S.</h5>
					    	<p>"My husband and I have sold two homes with the McVeigh Team in the Findlay Creek Area. I recommend their services with confidence. We had the best representation, advice and negotiation skills on our side. I had a lot less stress knowing that we had experts helping us every step of the way. Thank you Kathy and Jeff and Conor McVeigh."</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_10.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Steph D.</h5>
					    	<p>"Kathy and Jeff are the perfect realty team! We recently used their services to buy our ‘forever home’ and sell our first home. From the beginning, Kathy and Jeff understood our needs, and helped us make a plan to get exactly what we wanted. They were engaged and they took the time to meet with us whenever needed. Throughout the whole process, they were honest, communicative, and professional. When it came to any paperwork, they were thorough and guided us through each step/detail. In the end, we got the place we wanted for the best price possible (even after having to compete with other buyers). We also sold our first home in just over a week! Everything went so smoothly because of Kathy and Jeff. There’s no two people we could have trusted more! Thank you Kathy and Jeff!!"</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_9.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Boris T.</h5>
					    	<p>"Great to work with and very professional."
					    	</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class=" py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_8.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Gloria H.</h5>
					    	<p>"Jeff and Kathy McVeigh were very professional and largely due to their expertise and advice my house sold in 2 days. I would highly recommend them if you are selling or buying in Findlay Creek as they are very knowledgeable about the market in this area."
					    	</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_7.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Nawaz A.</h5>
					    	<p>"Thank you for your professional and speedy service! Highly recommended!"
					    	</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_6.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Josip H.</h5>
					    	<p>"I had the pleasure of dealing with Kathy on my 4th house purchase and the first one in Ottawa. She is absolutely fantastic. Her knowledge of the Ottawa market combined with her honesty make the buying process so much easier. I cannot overstate what a pleasure it was to work with her. Much like I was referred Kathy from my friend I will be referring her to my friends and family. I hope you read this Kathy, you are a rockstar!"</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class=" py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_5.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Connor B.</h5>
					    	<p>"Very easy to work with and get a hold of when ever you have questions about buying a new home.</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_4.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Yianni M.</h5>
					    	<p>"The McVeighs are the ultimate real estate team! They are very pleasant, professional, experienced, and extremely knowledgeable. This team is honest and are so very client service oriented. They made the selling of our childhood family home easy. Jeff and Kathy McVeigh really cared and understood our needs and concerns. They went above and beyond, from advising us on the best timing for listing to staging the house for the most impact, to all the negotiations. As a result, we ended up selling our house quickly, all thanks to their efforts and guidance. I would highly recommend Jeff and Kathy Mcveigh to all my family and friends! I can not thank you guys enough for all your assistance"</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_3.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Sally H.</h5>
					    	<p>"Efficient, friendly and personalized service, attention to detail a plus. We are very satisfied and highly recommend The McVeighs, thank you."</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_2.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Andrew S.</h5>
					    	<p>"Jeff and Kathy McVeigh are professionals. They know the real estate business inside and out utilizing their years of experience, building relationships and networking within the industry. This is the second home that we have listed with Jeff and Kathy - they are the team to trust."</p>
					  	</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="py-3">
				<div class='row'>
					<div class='col-lg-4 col-md-12'>
						<img class="align-self-center mr-3" src="{% static 'image/testimonials/testimonial_1.jpg' %}" alt="kathy mcveigh realtor contact">
					</div>
					<div class='col-lg-8 col-md-12'>
					  	<div class="">
					    	<h5 class="mt-2">Karen K.</h5>
					    	<p>"The McVeigh Group is a wonderful team of professionals, headed by Kathy and Jeff. This was our second time working with this dedicated, knowledgeable and personable couple. Your hard work and attention to detail were much appreciated. Thank you!"</p>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}